@font-face {
    font-family: kalpurush; 
     font-style: normal; 
      font-weight: 200 700; 
       font-display: swap;  
       src: url("../fonts/kalpurush-webfont.woff") format("woff");
    }
@import "tailwindcss";

@theme {
  --font-kalpurush: "kalpurush", "sans-serif"; 
}
